<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>サイト</title>
        <link rel="stylesheet" href="css/style.css">
    </head>

    <body>
        <div class="headline">
            <h1>ChatAppのユーザ登録フォーム</h1>
        </div>

        <form action="/registrationUser" method="post">
            <h2>ユーザ情報を登録してね！</h2>
            <h3>登録するログインID</h3>
            <input type="text" name="LoginID">
            <h3>登録するパスワード</h3>
            <input type="text", name="Password">
            <input type="submit" value="送信する">
        </form>

    </body>
</html>